.bgImage {
    display: flex;
    align-items: center;
    position: relative;

    .background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 75%;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;

        &__right {
            left:0;
        }
    }

    article {
        height: 50vh;
        width: 60%;
        padding: 0 8rem;
        box-sizing: border-box;
        z-index: 10;
        position: absolute;
        left: 0;

        &__right {
            right:0;
        }

        &.blue {
            background-color: $color_blue;
        }

        &.red {
            background-color: $color_red;
        }

        &.ltBlue {
            background-color: $color_lightBlue;
        }

        &>div {
            display: flex;
            height: 100%;
        }
    }

    &__title {
        padding: 3rem 2rem 5rem 0;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            background-color: $color_white;
            height: 75%;
            top: 0;
            right: 0;

        }
    }

    &__content {
        padding: 0 0 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: flex-start;
        overflow: hidden;
        position: relative;
        width: 65%;
        h4 {
            padding-bottom: 1rem;
            padding-right: 1rem;
            position: relative;

            &:last-child {
                transform: translateX(-120%);
                transition: all .5s ease;
            }
            &.in{
                &:last-child{
                    transform: translateX(0);
                }
            }
        }

        .number {
            opacity: 1;
        }
    }

    &-squish {
        .background {
            height: 90%;
            width: 85%;
            top: auto;
        }

        article {
            width: 45%;
        }
    }

    &-about {
        .background {
            width: 45%;
            height: 50%;
            top: auto;
        }

        article {
            width: 65%;
            height: 60%;
        }
    }

    @media (max-width: 1400px) {
        article {
            width: 80%;
        }
    }

    @media (max-width: 745px) {
        article {
            padding: 0 2em;
            width: 85%
        }
    }

    &.about{
        .background{
            right: 0;
        }
        article{
            left: 0;
        }
    }


    &.initialized {
        .background {
            right: -80vw;
        }

        article {
            left: -80vw;
        }

        &__content {
            .number {
                opacity: 0;
            }
        }
    }

    &__right.initialized {
        .background {
            left: -80vw;
        }
        article {
            justify-self: flex-end;
            margin-left: auto;
            right: -80vw;
        }
    }
}

#bgImage3{
    margin-bottom: 25em;
}