.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image__block {
        width: 50%;
        height: 75vh;
        display: flex;
        align-items: center;
        position: relative;

        &:after {
            content: "";
            background-color: $color_blue;
            height: 100%;
            width: 75%;
            top: 0;
            right: 0;
            position: absolute;
        }

        .image {
            background-color: gray;
            height: 85%;
            width: 100%;
            z-index: 10;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 2rem;
        }
    }

    .card {
        width: 70%;
        height: 75vh;
        display: flex;
        margin-top: 2rem;

        &__blue {
            background-color: $color_blue;
        }

        &__red {
            background-color: $color_red;
        }

        &__ltBlue {
            background-color: $color_lightBlue;
        }

        &__yellow {
            background-color: $color_yellow;
        }

        &__dkBlue {
            background-color: $color_darkBlue;
        }


        &>div {
            width: 50%;
            display: flex;
        }

        &__title {
            padding: 3rem 2rem 5rem 2rem;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 2px;
                background-color: $color_white;
                height: 50%;
                top: 0;
                right: 0;

            }
        }

        &__content {
            padding: 0 5rem 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            h4{
                padding-bottom: 1rem;
            }
            svg{
                fill: $color_white;
                height: 46px;
                display: block;
                margin-bottom: 1rem;
            }
        }



    }



    &__right {
        .card {
            justify-content: flex-end;
        }
        .image {
            position: absolute;
            width: 50%;
            height: 65vh;
            left: 0;
            top: auto;
            box-sizing: border-box
        }
    }

    .image {
        position: absolute;
        width: 50%;
        height: 65vh;
        right: 0;
        top: auto;
        box-sizing: border-box
    }

    @media (max-width: 1315px) {
        .card{
            width: 90%
        }
    }
    @media (max-width: 1060px) {
        height: auto;
        .card{
        }
    }

    @media (max-width: 745px) {
        height: auto;
        justify-content: flex-start;
        .card{
            height: auto;
            padding: 2em 0;
            div{
                width: 80%;
            }
        }
        .image{
            display: none;
        }
        &.cards__right{
            justify-content: flex-end;
        }
    }
}