.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_teal;
    margin-bottom: 50em;

    article {
        border: solid 2px $color_teal;
        display: flex;
        width: 70%;

        h5 {
            padding-top: 1.5em;
            padding-left: 1.5em;
            padding-right: 1em;
            margin-bottom: 3em;
            border-right: 2px solid $color_teal;
        }
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & div {
            border-right: 2px solid $color_teal;
            height: em(98px);
            padding: 0 2rem;
            display: flex;
            align-items: center;

            svg {

                fill: $color_white;
            }

            &:first-child {
                padding: 0 2rem 0 0;
            }

            &:last-child {
                border-right: none;
            }

            &:nth-child(1) {
                svg {
                    width: em(120px);
                    height: em(66px);
                }
            }

            &:nth-child(2) {
                svg {
                    width: em(231px);
                    height: em(66px);
                }
            }

            &:nth-child(3) {
                svg {
                    width: em(224px);
                    height: em(66px);
                }
            }

            &:nth-child(4) {
                svg {
                    width: em(223px);
                    height: em(66px);
                }
            }
        }

    }

    @media(max-width: 1715px) {
        &__block {

            flex-wrap: wrap;
        }
    }
    @media(max-width: 1680px) {
        &__block {
            svg {
                transform: scale(.80, .80)
            }
            div{
                padding: 0;
            }
        }
    }

    @media(max-width: 950px) {
        &__block {
            svg {
                transform: scale(.75, .75)
            }
        }
    }
    @media(max-width: 850px) {
        &__block {
            flex-direction: column;
            div{
                border-right: none;
            }
        }
    }
    @media(max-width: 640px) {
        &__block {
            div{
                padding: 0;
            }
            svg {
                transform: scale(.5, .5)
            }
        }
    }
}