.h {
    &__white {
        color: $color_white;
    }
    &__dkBlue {
        color: $color_darkBlue;
    }
}

.t {
    &__white {
        color: $color_white;
    }
    &__dkBlue {
        color: $color_darkBlue;
    }
}