@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Medium'),
        url('/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/fonts/Gotham-Medium.woff') format('woff'),
        url('/fonts/Gotham-Medium.ttf') format('truetype'),
        url('/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Thin'),
        url('/fonts/Gotham-Thin.woff2') format('woff2'),
        url('/fonts/Gotham-Thin.woff') format('woff'),
        url('/fonts/Gotham-Thin.ttf') format('truetype'),
        url('/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Light'),
        url('/fonts/Gotham-Light.woff2') format('woff2'),
        url('/fonts/Gotham-Light.woff') format('woff'),
        url('/fonts/Gotham-Light.ttf') format('truetype'),
        url('/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Bold'),
        url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff'),
        url('/fonts/Gotham-Bold.ttf') format('truetype'),
        url('/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-ThinItalic'),
        url('/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('/fonts/Gotham-ThinItalic.woff') format('woff'),
        url('/fonts/Gotham-ThinItalic.ttf') format('truetype'),
        url('/fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-BookItalic'),
        url('/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BookItalic.woff') format('woff'),
        url('/fonts/Gotham-BookItalic.ttf') format('truetype'),
        url('/fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Book'),
        url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff'),
        url('/fonts/Gotham-Book.ttf') format('truetype'),
        url('/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-MediumItalic'),
        url('/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('/fonts/Gotham-MediumItalic.woff') format('woff'),
        url('/fonts/Gotham-MediumItalic.ttf') format('truetype'),
        url('/fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-BlackItalic'),
        url('/fonts/Gotham-BlackItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BlackItalic.woff') format('woff'),
        url('/fonts/Gotham-BlackItalic.ttf') format('truetype'),
        url('/fonts/Gotham-BlackItalic.svg#Gotham-BlackItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-BoldItalic'),
        url('/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BoldItalic.woff') format('woff'),
        url('/fonts/Gotham-BoldItalic.ttf') format('truetype'),
        url('/fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Black'),
        url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff'),
        url('/fonts/Gotham-Black.ttf') format('truetype'),
        url('/fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-LightItalic'),
        url('/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('/fonts/Gotham-LightItalic.woff') format('woff'),
        url('/fonts/Gotham-LightItalic.ttf') format('truetype'),
        url('/fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
