// Colors
$color_white: #FFFFFF;
$color_darkBlue: #001042;
$color_blue: #002ED8;
$color_lightBlue: #01BAEF;
$color_teal: #8FF4CC;
$color_red: #FF0066;
$color_gray: #B0B5B3;
$color_yellow: #FFC338;
$color_lightGray: rgba(0, 0, 0, .2);


// Font Family
$browser-context: 16;
$fontFamily: 'Gotham', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;


$fonts__max-view-size: 1400px;
$fonts__min-view-size: 320px;